$sideBarWidth: 30vw;
$themeColor: #1f4037;

#openNav,
#closeNav {
	display: none;
	color: inherit;
}
#sidebar {
	display: none;
	width: $sideBarWidth;
	height: 100vh;
	position: fixed;
	background: #1f4037;
	background: -webkit-linear-gradient(to left, #99f2c8, #1f4037);
	background: linear-gradient(to left, #99f2c8, #1f4037);
	z-index: 9999;

	.head {
		display: flex;
		justify-content: space-evenly;
		align-content: center;
		align-items: center;
	}

	.sidenav {
		list-style: none;
		margin: 0;
		padding: 0;
		.drop {
			position: relative;
			.dropmenu {
				position: relative;
				height: 0px;
				overflow: hidden;
				transition: all 0.6s;
				ul {
					list-style-type: disc !important;
					margin: 0;
					padding: 0;
					li a {
						padding-left: 2.4em;
						font-size: 0.9em;
					}
				}
			}
		}
		.drop:hover {
			.dropmenu {
				height: +100px;
			}
		}
	}

	.sidenav li a [class^='fa'] {
		width: 30px;
		text-align: center;
	}

	.sidenav li a:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.copyright {
		position: absolute;
		bottom: 0px;
		font-size: 0.8rem;
	}
}

#sidebar.sidebar-open {
	display: initial;
}

#sidebar .head a {
	text-decoration: none;
	color: #fff;
	padding: 18px 12px;
}
#sidebar .head img {
	width: 4em;
}
#sidebar .head a:hover {
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.3);
}
#sidebar .sidenav-nav {
	width: 100%;
	margin-top: 20px;
}
#sidebar .sidenav li {
	width: 100%;
}
#sidebar .sidenav li a {
	display: block;
	padding: 12px 16px;
	text-decoration: none;
	color: #fff;
	width: 100%;
}

main {
	margin-left: $sideBarWidth;
	padding-bottom: 30px;
}
#topbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	padding: 4px 24px;
	background-color: #1f4037;
	color: #fff;
}
#topbar .utilities {
	display: flex;
	justify-content: space-between;
}
#topbar .utilities > div {
	margin: 0px 8px;
}
button.dropdown-toggle {
	border: 0;
	background: inherit;
	color: inherit;
	padding: unset;
	margin: unset;
}

#main .card-header {
	background-color: $themeColor;
	color: #fff;
	border-radius: 0%;
}
#main .card {
	border-radius: 0%;
}

@media (min-width: 787px) {
	$sideBarWidth: 20vw;
	#sidebar {
		width: $sideBarWidth;
		display: flow-root;
	}
	main {
		margin-left: $sideBarWidth;
	}
}

@media (max-width: 786px) {
	$sideBarWidth: 30vw;
	#sidebar {
		width: $sideBarWidth;
		display: initial;
	}
	main {
		margin-left: $sideBarWidth;
	}
}
@media (max-width: 480px) {
	$sideBarWidth: 50vw;
	#openNav,
	#closeNav {
		display: initial;
	}
	#sidebar {
		width: $sideBarWidth;
		display: none;
	}
	main {
		margin-left: 0px;
	}
	#topbar {
		justify-content: space-between;
	}
}
